* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 15pt Arial;
  background-color: #0187cf;
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

footer {
  color: #fff;
  text-align: center;
  font-style: italic;
  margin-top: 35px;
}

.social-icons-container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 3vh;
  margin-right: 2vw;
}

.social-icon {
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.25);
}

#GitHub,
#Linkedin {
  width: 44px;
  height: 44px;
}

.calculator-container {
  background: #4f4f4f;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  width: 400px;
  height: 550px;
  border-radius: 20px;
  border: 18px solid #4f4f4f;
  box-shadow: 3px 3px 10px #00000089;
}

#tela {
  font-size: 3.5em;
  background-color: #2f2f2f;
  color: #ffffff;
  grid-column: span 4;
  height: 90%;
  padding-right: 15px;
  text-align: right;
  border-radius: 20px;
  border: none;
  box-shadow: none;
  outline: 0;
}

.button {
  background-color: #8d8c8c;
  color: #ffffff;
  font-size: 2.2em;
  width: 97%;
  height: 97%;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  box-shadow: none;
  transition: all 0.4s ease;
  outline: 0;
}

.button:hover {
  background: #5f5f5f;
}

.button:active {
  transform: translateY(4px);
}

#botaoBack {
  background-color: #747474;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

#botaoBack:hover {
  background: #5f5f5f;
}

#botaoBack-img {
  width: 53%;
  height: 53%;
  position: relative;
  left: -3%;
}

.operando {
  background-color: #747474;
  border-radius: 40px;
}

#botaoClean {
  background-color: #e1813d;
  border-radius: 40px;
}

#botaoResultado {
  background-color: #e1813d;
}

#botaoResultado {
  grid-row: span 2;
}

#botaoClean:hover,
#botaoResultado:hover {
  background: #945325;
}

#botaoZero {
  grid-column: span 2;
}

/* Estilos para dispositivos móveis (celulares) */
@media only screen and (max-width: 767px) {
  section {
    margin-top: 3.4vh;
  }

  footer {
    font-size: 0.8em;
    margin-top: 25px;
  }

  .social-icons-container {
    gap: 15px;
    margin-top: 4vh;
    margin-right: 5vw;
  }

  #GitHub,
  #Linkedin {
    width: 35px;
    height: 35px;
  }

  .calculator-container {
    width: 90vw;
    height: 475px;
  }

  #tela {
    font-size: 2.8em;
  }

  .button {
    font-size: 1.6em;
    width: 100%;
    height: 100%;
  }
}

/* Estilos para tablets em modo retrato */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  section {
    margin-top: 70px;
  }

  footer {
    font-size: 1.4em;
    margin-top: 40px;
  }

  .social-icons-container {
    gap: 20px;
    margin-right: 4.5vw;
  }

  .calculator-container {
    width: 600px;
    height: 770px;
    border: 30px solid #4f4f4f;
  }

  #tela {
    font-size: 4.5em;
  }

  .button {
    font-size: 3em;
    width: 97%;
    height: 97%;
    border-radius: 40px;
  }

  #botaoClean,
  #botaoBack,
  .operando {
    border-radius: 50px;
  }
}
