.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 0 12px 0 0 #3f3f3f;
    grid-gap: 8px;
    background: #4F4F4F;
    width: 400px;
    height: 550px;
    border-radius: 20px;
    border: 18px solid #4f4f4f;
}

.link {
    display: flex;
    gap: 20px;
    position: fixed;
    top: 20px;
    right: 20px;
}

.icon {
    width: 50px;
    height: 50px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.25);
}

body {
    background-color: #0187CF;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.button {
    border-radius: 25px;
    background-color: #8d8c8c;
    font: normal 2.5em Arial;
    width: 97%;
    height: 97%;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 4px 0 0 #3f3f3f;
}

.button:active {
    transform: translateY(4px);
}

.button:hover {
    background: #696969;
}

#tela {
    grid-column: span 4;
    padding-right: 15px;
    background-color: #2F2F2F;
    font-size: 4em;
    border-radius: 20px;
    height: 90%;
    box-shadow: none;
    text-align: right;
}

.button,
#tela {
    border: none;
    color: #ffffff;
    outline: 0;
}

#botaoClean,
#botaoResultado {
    background-color: #E1813D;
}

#botaoClean:hover,
#botaoResultado:hover {
    background: #AC602A;
}

#botaoBack:hover,
.operando:hover {
    background-color: #595959;
}

#botaoBack,
.operando {
    background-color: #747474;
    border-radius: 40px;
}

#botaoClean {
    border-radius: 40px;
}

#botaoZero {
    grid-column: span 2;
}

#botaoResultado {
    grid-row: span 2;
}

@media (max-width: 768px) {
    .grid-container {
        width: 300px;
        height: 420px;
    }

    #tela {
        font-size: 3em;
    }

    .button {
        font: normal 2em Arial;
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .grid-container {
        width: 450px;
        height: 600px;
        border: 25px solid #4f4f4f;
    }

    #tela {
        font-size: 5em;
    }

    .button {
        font: normal 3em Arial;
        width: 95%;
        height: 95%;
        border-radius: 35px;
    }
}

@media (max-width: 768px),
(min-width: 768px) and (max-width: 1024px) {
    body {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 15%;
    }

    .link {
        justify-content: center;
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
    }

    .operando, #botaoClean, #botaoBack {
        border-radius: 50px;
    }
}